html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    h1 Natural Wonders of the World
    block content

    h3 footer.footer
      div.container
        div.row
          div.col-md-4
            h5 Navigation
            ul
              li: a(href='/photos') Browse Photos
        div.text-center.mt-4
          p Assignment 4 by Teh Swe Jyan